{% extends "base.html" %}

{% block title %}Ajouter une entrée{% endblock %}
{% block header %}Ajouter une entrée{% endblock %}

{% block content %}
    <form method="post">
        {{ form.hidden_tag() }}

        <label for="name">Nom :</label>
        {{ form.name(size=50) }}<br>

        <label for="amount">Montant :</label>
        {{ form.amount }}<br>

        <label for="category">Catégorie :</label>
        {{ form.category(size=50) }}<br>

        <button type="submit">Ajouter</button>
    </form>
{% endblock %}
