<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Titre par défaut{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>{% block header %}Gestion des entrées{% endblock %}</h1>
    </header>

    <!-- Affichage des messages flash -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <a href="{{ url_for('web_ui.index') }}">Retour</a>
    </footer>
</body>
</html>
